.row
  .col-md-10.col-xs-8.panel-remove-right-pad
    .panel.panel-primary
      .panel-heading
        Basic Info
      .panel-body
        %strong User ID
        %span= @user.id
        %br
        %strong Email
        %span= @user.email
        %br
        %strong Created at
        %span= @user.created_at
        %br
  .col-md-2.col-xs-4
    .panel.panel-default
      .panel-heading
        Photo
      .panel-body
        - if @user.personal && @user.personal.photo
          = image_tag (@user.personal.photo_url(:thumb)), width: "128", height: "128", class: "user-photo"
        - else
          = image_tag "student.png", alt: "your image", width: "128", height: "128", class: "user-photo"
  .col-md-6.col-xs-12
    .panel.panel-success
      .panel-heading
        Personal Information
      .panel-body
        - if @user.personal
          %table{class: "table table-bordered"}
            %tr
              %td
                %b First Name
              %td= @user.personal.first_name
            %tr
              %td
                %b Middle Name
              %td= @user.personal.middle_name
            %tr
              %td
                %b Last Name
              %td= @user.personal.last_name
            %tr
              %td
                %b Date of Birth
              %td= @user.personal.date_of_birth
            %tr
              %td
                %b Gender
              %td= @user.personal.gender
            %tr
              %td
                %b Category
              %td= @user.personal.category
            %tr
              %td
                %b Blood Group
              %td= @user.personal.blood_group
            %tr
              %td
                %b Fathers_name
              %td= @user.personal.fathers_name
            %tr
              %td
                %b Mothers_name
              %td= @user.personal.mothers_name
            %tr
              %td
                %b Address
              %td= @user.personal.address_present
        - else
          = link_to "Fill up Personal Details", user_pages_new_personal_path, class: "btn btn-danger"
  .col-md-6.col-xs-12
    .panel.panel-success
      .panel-heading
        Academic Information
      .panel-body
        %p Select your stream and Fill up your academic details
        %form{action: "/user_pages/new_academic", method: "get"}
          = select_tag "stream_id", options_for_select(Stream.all.collect{|s| [s.streams, s.id]})
          %input{ type: "submit" ,class: "btn btn-danger btn-middle"}
